body{
  margin: 0;
  padding: 0;
  background-color: #98eeff;
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*NAVBAR*/
.Navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fda5f3;
  border: 2px solid #000000; /* Establece el grosor y el color del borde */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 50px;
}

.Navbar-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-user{
  height: 40px;
  width: auto;
}

.Navbar-github{
  height: 40px;
  width: auto;
}

.Navbar-logo{
  height: 40px;
  width: auto;
}

/*Body Background*/
.Body-back1{
  position: relative;
  left: 80%;
}

.Body-back2{
  position: absolute;
  right: 60%;
  top: 60%;
}

/*Body*/
.Body-center{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 200px;
}

.Body-center2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  background: linear-gradient(to bottom, #00008b 0%, #D138BF 100%);
  border-radius: 5%;
  transform: translateY(-40%);
  position: relative;
}

.Body-title{
  font-weight: 900;
  font-size: 60px;
  bottom: 100px;
}

.Body-irregularForm{
  background-color: rgba(0, 0, 0, .7);
  border-radius: 5px;
  
  width: 650px;
  height: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.Body-searchBar{ 
  background-color: transparent;
  height: 30px;
  width: 300px;
  font-size:20px;
  border-radius: 5px;
  border-bottom-color: black;
  position: absolute;
  bottom: 100px;
  left: 200px;
}

/*Body-topic selector*/

.dropdown {
  position: absolute;
  display: inline-block;
  bottom: 100px;
  left: 38px;
}

.Tema-button {
  background: linear-gradient(to bottom, #FFAC14 0%, #FEFFFE 100%);
  color: #000000;
  width: 160px;
  padding: 6px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para el contenedor del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1F7A8C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilos para los enlaces del menú desplegable */
.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Estilos para los enlaces cuando se pasa el mouse sobre ellos */
.dropdown-content a:hover {
  background-color: #312b2b;
}

/* Mostrar el menú desplegable cuando se pasa el mouse sobre el botón */
.dropdown:hover .dropdown-content {
  display: block;
}

.Tema-dropdown-algebra {
  display: none;
  position: absolute;
  background-color: #1F7A8C;
  color: #FFFFFF;
  z-index: 1;
  top: 0;
  left: 100%;
}

.dropdown-content a:hover + .Tema-dropdown-algebra, .Tema-dropdown-algebra:hover {
  display: block;
  top: 0;
  left: 100%;
}

.Tema-dropdown-ecuaciones {
  display: none;
  position: absolute;
  background-color: #1F7A8C;
  color: #FFFFFF;
  z-index: 1;
  top: 0;
  left: 100%;
}

.Tema-dropdown-algebra a:hover + .Tema-dropdown-ecuaciones, .Tema-dropdown-ecuaciones:hover{
  display: block;
  top: 0;
  left: 100%;
}


/*Result*/

.Result {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}

.Result-background{
  background: linear-gradient(to bottom, #00008b 0%, #D138BF 100%);
  width: 700px;
  min-height: fit-content;
  display: flex;
  align-items: center;
  border-radius: 5%;
  flex-direction: column;
  
}

.Result-container{
  background-color: #FFFFFF;
  width: 400px;
  padding: 5px;
  color: #00008b;
  margin: 100px;
  border-radius: 5%;
}