body{
  margin: 0;
  padding: 0;
  background-color: #1F7A8C; 
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*NAVBAR*/
.Navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFAC14;
  height: 50px;
}

.Navbar-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-user{
  height: 40px;
  width: auto;
}

.Navbar-github{
  height: 40px;
  width: auto;
}

.Navbar-logo{
  height: 40px;
  width: auto;
}

/*Body Background*/
.Body-back1{
  position: relative;
  left: 80%;
}

.Body-back2{
  position: absolute;
  right: 60%;
  top: 60%;
}

/*Body*/
.Body-center{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.Body-center2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  max-height: 100%;
  background-color: #00008b;
  border-radius: 5%;
  transform: translateY(-40%);
  position: relative;
}

.Body-title{
  font-weight: 900;
  font-size: 60px;
  bottom: 100px;
}

.Body-irregularForm{
  height: 100%;
  
}

.Body-searchBar{ 
  background-color: transparent;
  height: 30px;
  width: 300px;
  font-size:20px;
  border-radius: 5px;
  border-bottom-color: black;
  position: absolute;
  bottom: 100px;
}
