body{
  margin: 0;
  padding: 0;
  background-color: #68B684; 
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*NAVBAR*/
.Navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #B07560;
  height: 50px;
}

.Navbar-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-arrow{
  margin-left: 80px;
}
.Navbar-temario{
  margin-left: 10px;
  margin-right: 80px;
}

/*Body Background*/
.Body-back1{
  position: relative;
  left: 80%;
}

.Body-back2{
  position: absolute;
  right: 60%;
  top: 60%;
}

/*Body*/
.Body-center{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}
.Body-center2{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.Body-title{
  font-weight: 900;
  font-size: 60px;
  position: relative;
  top: 50px;
}
.Body-irregularForm{
  position: relative;
  top: 10px;
}
.Body-searchIcon{
  position: relative;
  bottom: 130px;
  right: 170px;
}
.Body-searchBar{ 
  background-color: transparent;
  position: relative;
  height: 30px;
  bottom: 175px;
  width: 280px;
  font-size:20px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: black;
}
